
:root{

    --primary:#120d31;
    --text-color: #2b2b2b;
    --base: rgb(247, 187, 220);
    --spacing:30px;
    --font-principal:Arial, Helvetica, sans-serif ;
    --font-second:Verdana, Geneva, Tahoma, sans-serif;
    --texc-large: 52px;
    --texc-midium:24px;
    --texc-base:16px;
    --text-small:14px;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: var(--font-principal);
    height:100% ;
}
body{
    display:flex;
    flex-direction: column;
    background-image:url(../Pages/fondo3.jpg);
    text-decoration: none;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    
}
header{
    background-image:url(../Pages/fondo4.jpgS) ;

}
.logo{
    display: flex;
    justify-content: center;
    width: 60px;
    
}
nav{
    background-color: var(--base);
    display: grid;
    grid-template-columns: 5fr;
    justify-items: end;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.menu{
    text-decoration: none;
    
}
.titulo{display: flex;
    justify-content: center;
}
.img_centro{
    display: flex;
    justify-content: center;
}
.section_quien{
    display: grid;
    justify-content: center;
}
.p_quien{display: flex;
align-items: center;}

.centrado{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%,-50%);
}

.titulo__principal{
    display: flex;
    text-align: center;
    font-family: fantasy;
    position: relative;
    height: 100px;
    width: 200px;
    }
.titulo__slogan{
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
}
.menu__items{   
    text-decoration: none; 
    color: rgb(214, 184, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.presentacion__descripcion{
    color: rgb(252, 181, 242);
    font-family: Arial, Helvetica, sans-serif;
}

.section-span{ font-size: 60px;
width: 100px;
background-color: rgb(214, 245, 189);}
.section{
    background-color: rgb(179, 155, 235);
    padding-left:10px; 
    padding-top:20px; 
    padding-right:5px;
    padding-bottom:25px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
p{
    display: inline;
    border-bottom: 1px solid rgb(220, 171, 245);
   
}

p{
    width: 300px;
    height: 200px;
    background: rgb(200, 233, 241);
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {background-color: rgb(200, 233, 241);}
    to {background-color: rgb(245, 190, 218);}
  }  
    
           
        


ul li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(247, 187, 220);
}
.border{
border-color: 10px rgb(205, 250, 184);

}

.contenedor{
  display: flex;
  justify-content: center;
     
}

.color{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
.aroma{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
.imagenes{
    display: grid;
    justify-items: center;
    
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding: top 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content h4{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}


@media screen and (max-width: 1200px) {
    .img{
        width: 300px;}
        .contenedora_img{
            display: grid;
            grid-template-columns: 1fr;    
        }
        .p_img{display: none;}
        .img_centro{
            width: 300px;
         }
         .picture{
            width: 300px;
            
        }
    }

    
@media screen and (max-width: 375px) {
    .img{
        width: 300px;
    }
    
    .contenedora_img{
        display: grid;
        grid-template-columns: 1fr;    
    }
    .p_img{display: none;}
    .img_centro{
       width: 300px;
    }
    .picture{
        width: 300px;
        
    }
    
    }
