* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: var(--font-principal);
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #E6BEAE;
  min-height: 100vh; }

.section {
  background-color: #b39beb;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  height: 700px; }
  .section__quien {
    display: grid;
    justify-content: center; }
  .section__span {
    font-size: 60px;
    width: 100px;
    background-color: #d6f5bd; }

.animate__animated.animate__bounce {
  --animate-duration: 2s; }

.header {
  height: 700px; }

.logo {
  width: 100px; }

:root {
  --bs-body-font-size: 1,75rem; }

.contenedor {
  display: flex;
  justify-content: center; }

.container-fluid {
  flex-direction: column; }

.navbar-toggler-icon {
  width: 3.5em;
  height: 3.5em; }

.nav-link {
  font-size: 30px; }

footer {
  grid-column: 1/-1;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding: top 40px;
  color: #D5BDAF; }
  footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  footer__content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #D5BDAF; }
  footer__content h4 {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2; }
  footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0; }
  footer__socials li {
    margin: 0 10px; }
  footer__socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%; }
  footer__socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease; }
  footer__socials a:hover i {
    color: #F3D6C2; }

.redes {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.form {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.card-img-top, .card-img-bottom {
  width: 50%; }

.g-3 {
  font-size: 30px;
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px; }

.btn.btn-primary {
  width: 200px; }

.cards {
  display: flex;
  flex-direction: column;
  align-items: center; }

h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.section_quien {
  display: grid;
  justify-content: center; }

.p_quien {
  display: flex;
  align-items: center; }

.d-block {
  width: 600px;
  height: 300px;
  justify-content: center; }

.carousel {
  margin: 30px 30px; }
  .carousel-inner {
    display: flex; }
  .carousel-item.active, .carousel .carousel-item-next, .carousel .carousel-item-prev {
    display: block;
    display: flex;
    justify-content: center; }

.rounded {
  margin-top: 50px;
  width: 800px;
  font-size: 20px; }

.section__card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  --bs-card-bg:#E6BEAE ;
  margin: 30px 30px;
  border-style: solid;
  border-color: #c792f5; }

h2 {
  font-family: "Merienda script=latin rev=2";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 60px; }

.contenedora_img {
  text-align: center; }

.card-body {
  background-color: #fcecf5;
  font-size: 20px;
  margin-bottom: 30px; }

.galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  .galeria__item {
    margin-bottom: 10px; }
  .galeria__img {
    margin: 5px 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: groove;
    border-color: #d8bdf1; }

.titulo {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-left: 30px; }
  .titulo__principal {
    display: flex;
    text-align: map-get;
    font-family: fantasy;
    position: relative;
    height: 100px;
    width: 200px; }

.text-start {
  font-size: 60px; }

h1 {
  font-family: 'Neuton', serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

h3 {
  font-family: "Merienda script=latin rev=2";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.border {
  border-color: 10px #cdfab8; }

.contenedor {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 425px) {
  .logo {
    width: 300px; }
  .navbar-toggler-icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .contenedor {
    height: 66vh;
    display: flex;
    justify-content: center; }
  .img {
    width: 300px; }
    .img__contenedora {
      display: grid;
      grid-template-columns: 1fr; }
    .img__p {
      display: none; }
    .img__centro {
      width: 300px; }
  .picture {
    width: 300px; }
  .rounded {
    margin-top: 50px;
    font-size: 30px; }
  .card-body {
    background-color: #fcecf5;
    font-size: 30px; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 1200px) {
  .img {
    width: 300px; }
    .img__contenedora {
      display: grid;
      grid-template-columns: 1fr; }
    .img__p {
      display: none; }
    .img__centro {
      width: 300px; }
  .picture {
    width: 300px; }
  .rounded {
    margin-top: 50px;
    font-size: 30px; }
  .card-body {
    background-color: #fcecf5;
    font-size: 30px; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }
