.header{
    height:700px;
}

.logo {
    width: 100px;
}
:root{
    --bs-body-font-size: 1,75rem;
}
.contenedor {
    
    display: flex;
    justify-content: center;
}
.container-fluid{
    flex-direction: column;
}
.navbar-toggler-icon {
    width: 3.5em;
    height: 3.5em;
}
.nav-link {
    font-size: 30px;
}


