.header{
    height:500px;
}

.logo {
    width: 60px;
}
:root{
    --bs-body-font-size: 1,75rem;
}
.contenedor {
    
    display: flex;
    justify-content: center;
}
.container-fluid{
    flex-direction: column;
}



