.form{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-img-top, .card-img-bottom {
    width: 50%;
}
.g-3 {
    font-size: 30px;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn.btn-primary {
    width: 200px;
}

