
.titulo {
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-left: 30px;
&__principal {
    display: flex;
    text-align: map-get;
    font-family: fantasy;
    position: relative;
    height: 100px;
    width: 200px;
     }  }
     .text-start {
        font-size: 60px;
    }

    
    h1 {
        font-family:'Neuton', serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; 
       
    
    }
    
    h3{
                font-family:"Merienda script=latin rev=2";
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center; }
   %p {
                    display: inline;
                    border-bottom: 1px solid rgb(220, 171, 245);
                    width: 300px;
                    height: 300px;
                    background-color: #EEE4E1;
                    justify-content: center;
                 }
     .border {  
                border-color: 10px rgb(205, 250, 184); }
     .contenedor {
                    display: flex;
                    justify-content: center; }
