.d-block{
    
    width: 600px;
    height: 300px;
    justify-content: center;
}
.carousel-inner {
    display: flex;
    justify-content: space-evenly;
    padding-right: 200px;
}
.rounded{
    margin-top: 50px;
    width: 800px;
}
