@media screen and (max-width: 1200px) {
    .img {
        width: 300px;
    

    &__contenedora {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__p {
        display: none;
    }

    &__centro {
        width: 300px;
    }   }

    .picture {
        width: 300px;

    }
}


@media screen and (max-width: 375px) {
    .img {
        width: 300px;
    

    &__contenedora {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__p{
        display: none;
    }

    &__centro {
        width: 300px;
    } }

    .picture {
        width: 300px;

    }

}