* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-principal);
    height: 100%;
}

body {
    background-color: #E6BEAE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section {
    background-color: rgb(179, 155, 235);
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 700px;


&__quien {
    display: grid;
    justify-content: center;
}
&__span {
    font-size: 60px;
    width: 100px;
    background-color: rgb(214, 245, 189);
} }
@mixin p ($text-color,$font-second) {
    @extend %p;
background: $font-second;
colo:$text-color
}
