

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-principal);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../Pages/fondo3.jpg);
    text-decoration: none;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;

}
